header {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

/* criar album */
.create {
    margin-bottom: 20px;
}

.create input {
    padding: 8px;
    margin-right: 10px;
}

.create button {
    padding: 8px 15px;
}

/* vazio */
.empty {
    text-align: center;
    margin-top: 50px;
    color: #9C9C9C;
}

.empty img {
    width: 200px;
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
}

/* card */
.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.no-image {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}